*,*::after,*::before{box-sizing: inherit;}

/* page formatting */
html{
    height:100%; /*getting footer to bottom and keeping it mobile friendly*/
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    height: 100%; /*getting footer to bottom and keeping it mobile friendly*/

    margin: 0;
    padding: 0;
}

header, footer{
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 0;
   padding: 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 10px solid rgb(109, 32, 23);
}

/* whole calcualtor */
#calculator{
    height: 500px;
    width: 400px;
    border:5px solid green
}

/* calculator display and delete button */
#screen-b{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 3px solid red;
    
    height: 15%;
}
#screen{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* calcualtor operators and operand buttons */
#calc-grid{
    height: 85%;

    display:grid;    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    
    border: 3px solid blue;
}
/* moving screen text to the right*/
#equation, #CurrentInput{
    display: flex;
    flex-direction: row-reverse;
}

footer{
    margin-top:auto;
}

/* end of page formatting */
