*,*::after,*::before{box-sizing: inherit;}

/* page formatting */
html{
    height:100%; /*getting footer to bottom and keeping it mobile friendly*/
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    height: 100%; /*getting footer to bottom and keeping it mobile friendly*/

    margin: 0;
    padding: 0;

    background-color:#283340 ;
    
}

header, footer{
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 0;
   padding: 0;

   color:#0DB387 ;
}

header{
font-family: "Zombie School";
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* whole calcualtor */
#calculator{
    height: 500px;
    width: 350px;

    margin-top: 5em;

    background-color:#2E3951;
    border-radius: 20px;

    box-shadow: 20px 20px 10px #0DB387;
    
}

/* calculator display and delete button */
#screen-b{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    height: 15%;
    background-color: #212B41;
    border-radius: 20px 20px 0 0;

}
#screen{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* calcualtor operators and operand buttons */
#calc-grid{
    height: 85%;

    display:grid;    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

    padding: 12px;
    padding-top: 22px;
    
}
/* moving screen text to the right*/
#equation, #CurrentInput{
    display: flex;
    flex-direction: row-reverse;

    font-family: "Digital Dream";
    color:#0DB387 ;


    max-width: 262.5px;
    overflow-x: auto;
    scrollbar-width:none;
;

}

#CurrentInput{
    font-size: 1.5em;
    padding-right: 20px;
    padding-top: 10px;
}
#equation{
    font-size: 0.6em;
    padding-top: 11px;
    padding-right: 20px;;

}
footer{
    margin-top:auto;
}

.btn, #delete{
    margin: 10px;
    padding: 0;
    border-radius: 50%; 
    background-color: #2E3951;
    border: none;
    color: gray;
    
    font-size: 2em;
    font-weight: 500;
    
}
#delete{
    background-color: #212B41;
    font-size: 1.5em;
    padding-top: 5px;
    padding-right:20px; ;
}

.outterBtn{
    background-color: #212B41;
    color: #0DB387;
    font-size: 1.5em;
}


@font-face {
    font-family: "Digital Dream";
    src: url(fonts/DIGITALDREAM.ttf);
}
@font-face {
    font-family: "Zombie School";
    src: url(fonts/ZombieSchoolDemoRegular.ttf);
}